!!!
html
  head
    title Welcome to uva
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
