.container
  .hero-unit
    h1 uva: a RunKeeper Calendar
    p RunKeeper's Activity display is heavily focused on chronological ordering and a 'feed' view. For those of us who pride ourselves in "Don't break the streak"-style mentalities, it's often better to see things laid out visually, across a calendar.
    a(href='/runkeeper_login')
      img(src='http://static1.runkeeper.com/images/assets/login-blue-white-300x57.png')
  .row
    .span6
      h2 resources
      p uva could never have been created without the following filler text:
      p Lo-fi thundercats beard tumblr. Bicycle rights before they sold out vinyl terry richardson keytar blog, artisan viral iphone wolf whatever beard. Twee gluten-free sartorial 8-bit viral. High life sustainable cardigan food truck seitan, banh mi banksy tumblr organic +1. Lo-fi PBR salvia jean shorts.
      ul
        li
          a(href='http://developer.runkeeper.com/healthgraph') RunKeeper Health Graph API
        li
          a(href='http://groups.google.com/group/HealthGraph') Health Graph Google Group
    .span6
      h2 a sneak peek
      ul.media-grid
        li
          a(href='javascript: void(0);')
            img.thumbnail(src='http://placekitten.com/g/330/231')
    .span4
      h2 built gratefully with
      p
        a(href='http://runkeeper.com') RunKeeper
        | , 
        a(href='http://heroku.com') Heroku
        | , 
        a(href='http://nodejs.org') node.js
        | , 
        a(href='http://expressjs.com') Express
        | , 
        a(href='http://jade-lang.com') Jade
        | , 
        a(href='http://twitter.github.com/bootstrap') Twitter Bootstrap
        | , and 
        a(href='http://hipsteripsum.me') Hipster Ipsum
  .footer
    p
      | &copy; 2011
      a(href='http://christineyen.com') Christine Yen
