/* app-specific overrides of Twitter Boostrap CSS framework */
body {
  padding: 50px;
}

h2.month {
  text-align: center;
}

.runkeeper-avatar {
  height: 20px;
  width: 20px;
}
img.thumbnail {
  border: 1px solid #ccc;
}

ul.activities {
  list-style: none;
  margin: 0;
}
ul.activities li {
  margin-top: 10px;
}
ul.activities li > span {
  display: block;
}
ul.activities span.label {
  float: right;
}
ul.activities span.distance {
  font-size: 1.5em;
}
ul.activities span.timing {
  clear: both;
  margin-top: 5px;
}
ul.activities span.duration {
  font-weight: bold;
}
ul.activities span.starttime {
  font-style: italic;
  color: #666;
}

.monthContainer {
  display: none;
}

.monthContainer:last-child {
  display: block;
}

a#showPreviousMonth {
  display: block;
  text-align: left;
  padding: 10px;
  border: 1px solid #DDD;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  color: #999;
}

a#showPreviousMonth:hover {
  background-color: #EEE;
  color: #888;
}

table.activityCal {
  width: 100%;
}
table.activityCal th {
  background-color: #FEFEFE;
}
table.activityCal td {
  height: 4em;
  width: 14%;
}
table.activityCal td.inactive {
  color: #CCC;
  background-color: #FAFAFA;
}
table.activityCal td.active {
  background-color: #FEFEFE;
}
table.activityCal td.hasActivities {
  background-color: #FFFCE8;
}
table.activityCal span.day {
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  width: 1.5em;
  height: 100%;
}
span.label.success:hover {
  cursor: pointer
}

.footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #EEE;
}
